<meta http-equiv="refresh" content="3;url=/" />
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Ihre Sitzung ist leider abgelaufen.</h1>
    <p class="lead red">Ihre Sitzung ist älter als 30 Minuten. Sie werden zur Startseite umgeleitet.</p>
  </div>
</div>
