<div class="container">
    <form action='validate_step_four' method='post' class="needs-validation" novalidate>
        <legend class="medium">
            Angaben zur Firma
            <small class="tiny">(*=Pflichtfeld)</small>
        </legend>
        <hr>
        <div class="form-group row">
            <label for="company" class="col-sm-3 col-form-label normal">Unternehmen*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="company" id="company" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie einen Unternehmensnamen an.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="street" class="col-sm-3 col-form-label normal">Straße / Nr*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="street" id="street" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie Straße und Nr an.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="zip" class="col-sm-3 col-form-label normal">PLZ*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="zip" id="zip" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie Ihre PLZ an.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-3 col-form-label normal">Ort*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="city" id="city" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie einen Ort an.
                </div>
            </div>
        </div>
        <legend class="medium">
            Ansprechpartner
            <small class="tiny">(*=Pflichtfeld)</small>
        </legend>
        <hr>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="m">
                    <label class="form-check-label" for="gender">Herr</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="w">
                    <label class="form-check-label" for="gender">Frau</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label normal">Titel</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="title" id="title">
            </div>
        </div>
        <div class="form-group row">
            <label for="fname" class="col-sm-3 col-form-label normal">Vorname*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="fname" id="fname" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie einen Vornamen an.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="col-sm-3 col-form-label normal">Nachname*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="lname" id="lname" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie einen Nachnamen an.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="department" class="col-sm-3 col-form-label normal">Abteilung</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="department" id="department">
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-3 col-form-label normal">Telefon*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="phone" id="phone" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie eine Telefonnummer an.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="fax" class="col-sm-3 col-form-label normal">Fax</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="fax" id="fax">
            </div>
        </div>
        <div class="form-group row">
            <label for="mail" class="col-sm-3 col-form-label normal">E-Mail-Adresse*</label>
            <div class="col-sm-9">
                <input type="email" class="form-control form-control-sm" name="mail" id="mail" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie eine E-Mail-Adresse an.
                </div>
            </div>
        </div>
        <legend class="medium">
            Unternehmensvertreter vor Ort
            <small class="tiny">(*=Pflichtfeld)</small>
        </legend>
        <hr>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ugender" id="ugender" value="m">
                    <label class="form-check-label" for="ugender">Herr</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ugender" id="ugender" value="w">
                    <label class="form-check-label" for="ugender">Frau</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="utitle" class="col-sm-3 col-form-label normal">Titel</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="utitle" id="utitle">
            </div>
        </div>
        <div class="form-group row">
            <label for="ufname" class="col-sm-3 col-form-label normal">Vorname*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="ufname" id="ufname" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie einen Vornamen an.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="ulname" class="col-sm-3 col-form-label normal">Nachname*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" name="ulname" id="ulname" required>
                <div class="valid-feedback">
                    🗸
                </div>
                <div class="invalid-feedback">
                    Bitte geben Sie einen Nachnamen an.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputState" class="col-sm-3 col-form-label normal">Anzahl vor Ort</label>
            <div class="col-sm-9">    
                <select id="anz" name="anz" class="form-control form-control-sm">
                    <option name="anz" id="anz" value="1" selected>1</option>
                    <option name="anz" id="anz" value="2">2</option>
                    <option name="anz" id="anz" value="3">3</option>
                    <option name="anz" id="anz" value="4">4</option>
                    <option name="anz" id="anz" value="5">5</option>
                </select>
            </div>
        </div>
        <legend class="medium">
            Ihre Zielgruppe
        </legend>
        <hr>
        <div class="normal">
            <h6>Helfen Sie uns dabei, genau Ihre Zielgruppe zu finden und gezielt anzusprechen. Geben Sie bitte an, welche Studiengänge für Ihr Unternehmen relevant sind.</h6>
            <br>
        </div>
        <div class="form-group row">
            <legend class="col-sm-3 col-form-label normal">
                <h6>Informatik und Medien</h6>
            </legend>
            <div class="col-sm-8">
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Informatik" id="Informatik">
                    <label class="form-check-label" for="Informatik">
                        <ul class="col-md-8 description">
                            <li>Informatik</li>
                        </ul>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Medieninformatik" id="Medieninformatik">
                    <label class="form-check-label" for="Medieninformatik">
                        <ul class="col-md-8 description">
                            <li>Medieninformatik</li>
                        </ul>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Medizininformatik" id="Medizininformatik">
                    <label class="form-check-label" for="Medizininformatik">
                        <ul class="col-md-8 description">
                            <li>Medizininformatik</li>
                        </ul>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <legend class="col-sm-3 col-form-label normal">
                <h6>Technik</h6>
            </legend>
            <div class="col-sm-8">
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Augenoptik" id="Augenoptik">
                    <label class="form-check-label" for="Augenoptik">
                        <ul class="col-md-8 description">
                            <li>Augenoptik/Optische Gerätetechnik</li>
                        </ul>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Ingenieurwissenschaften" id="Ingenieurwissenschaften">
                    <label class="form-check-label" for="Ingenieurwissenschaften">
                        <ul class="col-md-8 description">
                            <li>Ingenieurwissenschaften</li>
                        </ul>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Maschinenbau" id="Maschinenbau">
                    <label class="form-check-label" for="Maschinenbau">
                        <ul class="col-md-8 description">
                            <li>Maschinenbau</li>
                        </ul>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Wirtschaftsingenieurwesen" id="Wirtschaftsingenieurwesen">
                    <label class="form-check-label" for="Wirtschaftsingenieurwesen">
                        <ul class="col-md-8 description">
                            <li>Wirtschaftsingenieurwesen</li>
                        </ul>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <legend class="col-sm-3 col-form-label normal">
                <h6>Wirtschaft</h6>
            </legend>
            <div class="col-sm-8">
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Betriebswirtschaftslehre" id="Betriebswirtschaftslehre">
                    <label class="form-check-label" for="Betriebswirtschaftslehre">
                        <ul class="col-md-8 description">
                            <li>Betriebswirtschaftslehre</li>
                        </ul>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Wirtschaftsinformatik" id="Wirtschaftsinformatik">
                    <label class="form-check-label" for="Wirtschaftsinformatik">
                        <ul class="col-md-8 description">
                            <li>Wirtschaftsinformatik</li>
                        </ul>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <div class="col-sm-10">
            <%if session[:booking] == "on" || session[:bookingincl] == "on" %>
                <a href="/validate_step_three" class="btn btn-danger" role="button">Zurück</a>
            <% else %>
                <a href="/step_two" class="btn btn-danger" role="button">Zurück</a>
            <% end %>
            <button type="submit" class="btn btn-primary">Weiter</button>
            </div>
        </div>
    </form>
</div>