<div class="container">
    <div class="jumbotron">
    <h1 class="display-4">Leider sind alle Stellplätze bereits reserviert</h1>
    <p class="lead red">Bitte kontaktieren Sie uns unter <a href="mailto:fkm@th-brandenburg.de">fkm@th-brandenburg.de</a>. </p>
    </div>
</div>
